.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divided {
  width: 100%;
  border: 0.5px solid #2d3250;
}

.wrapper {
  display: flex;
  align-items: center;
}

.counter-header {
  font-weight: 600;
}

.highlight {
  font-size: 32px;
  font-weight: 700;
  color: #65b741;
}

.counter-text {
  font-size: 24px;
  margin: 28px 20px;
  font-weight: 500;
}

.counter-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 4px 8px;
  cursor: pointer;
}
